@import "variables";

/*********************************
 * Reset
 *********************************/
*{
  box-sizing: border-box;
}

body, html{
  padding: 0;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
}


/*********************************
 * Nested Menu
 *********************************/
#menu{
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  width: $menu-width;
}

#menu, #menu ul{
  background: #333;
}

#menu a {
  color: #FFF;
  font-weight: 700;
  display: block;
  padding: 1em;
}

#menu a:hover:not(.back-menu) {
  background: $menu-item-background;
}

#menu .back-menu{
  cursor: pointer;
  display: block;
  padding-left: 35px;
  background: $backmenu-background;
  color: $backmenu-color;
}

#menu .back-menu::before {
  position: absolute;
  content: "\2039";
  left: 15px;
  font-size: 24px;
  top: 10px;
}

#menu .has-submenu .submenu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  transform: translate3d(100%, 0, 0);
  transition: transform $animation-duration;
}

#menu .has-submenu > a {
  position: relative;
}

#menu .submenu{
  padding-left: $submenu-padding;
}

#menu .has-submenu, #menu .has-submenu .submenu{
  padding-left: 0;
}

#menu .has-submenu>a::before {
  position: absolute;
  display: block;
  color: $menu-item-color;
  content: "\203A";
  right: 15px;
  font-size: 24px;
  top: 10px;
}

#menu .submenu.active {
  transform: translate3d(0, 0, 0);
}
