$backmenu-background  : #222 !default;
$backmenu-color       : #FFF !default;
$menu-item-color      : #FFF !default;
$menu-item-background : #22222259 !default;
$menu-width           : 300px !default;
$animation-duration   : .3s !default;
$submenu-padding      : 20px !default;